@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region GLOBAL */
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.25rem;
    color: rgba(207, 207, 207, 1);
}

h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.25rem;
    color: rgba(207, 207, 207, 1);
}

a{
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    color: rgba(207, 207, 207, 1);
    text-decoration: none;
}

li{
    margin: 15px 0;
}

li:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

label{
    color: rgba(207, 207, 207, 1);
    font-size: 0.875rem;
}

body {
    max-width: 1920px;
    height: 100vh;
    border: solid black 1px;
    margin: auto;
}



.main-nav {
    grid-area: 1/1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    z-index: 1;
}

.main-nav__logo {
    background-image: url(../assets/bonz.ai-logo.png);
    width: 100%;
    height: 25%;
}

.main-nav--logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateY(7px);
}


.main-nav--text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 30px;
}

.main-nav--text:hover{
    cursor: pointer ;
}
/* NAVBAR AND ANIMATION */
.main-navbar{
    background-color: rgba(54, 54, 54, 0.8) ;
    grid-area: 1/1/5/-1;
    z-index: 1;
    transform: translateY(-100%);
    transition: 600ms;
}

.main-navbar.show{
    transform: translateY(0);
}

.main-nav.hide{
    display: none;
}
/* NAVBAR AND ANIMATION */

/* .main__navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.exitbtn{
    /* align-self:flex-start; */
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: rgba(207, 207, 207, 1);
}

.main-navbar__list{
    text-align: center;
    list-style-type: none;
    width: fit-content;
    margin: auto;
}

.navbar--home{
    font-size: 3.125rem;
    text-decoration: underline;
}

.main,
.cabin,
.booking{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__main,
.booking__booking,
.cabin__cabin{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(13, 1fr);
    /* padding: 0 30px 0 30px; */
}

/* #endregion GLOBAL */

/* #region HOME MAIN */
.main-section {
    grid-area: 3/3/-1/18;
    display: flex;
    flex-wrap: wrap;
}

.main--section{
    background-color: rgba(100, 94, 94, 0.45);
}

.main--background {
    background-image: url(../assets/landingbackground.jpg);
}

.main-section-logo-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.main-section__logo{
    width: 90%;
    height: 90%;
    transform: translateY(-7.5rem);
}

.main-section-logo--text{
    transform: translate(3.25rem, -9.1875rem);
    font-size: 24px;

}

.main-section-main-container{
    width: 100%;
    height: 70%;
    display: flex;
    gap: 0.5rem;
    padding: 10px;
    justify-content: space-between;
}

.main-section__card{
    background-color: rgba(105, 105, 105, 0.6);
    width: 50%;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;

}

.main-section-card-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 12.5rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(-45px);

}

.main-section-card__image-1{
    background-image: url(../assets/fireplace.jpg);
}
.main-section-card__image-2{
    background-image:url(../assets/livingroom.jpg);

}
.main-section-card__image-3{
    background-image: url(../assets/bedview.jpg);
}

.main-section-card__text{

    transform: translateY(-30px);
    text-align: center;
    padding: 1px;
}

/* #endregion HOME MAIN */


/* #region CABINS */

.navbar--cabins{
    font-size: 3.125rem;
    text-decoration: underline;
}

.cabin--background {
    background-image: url(../assets/fireplace.jpg);

}

.cabin-gallery{
    background-color: rgba(54, 54, 54, 0.85);
    grid-area: 1/1/6/-1;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cabin-gallery__image{
    width: 25%;
    height: auto;
}

.gallery__image{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.cabin-info{
    background-color: rgba(54, 54, 54, 0.8);
    grid-area: 8/1/-1/-1;
    display: flex;
    padding: 1.4375rem;
    justify-content: space-evenly;
}

.cabin-details__text{
    width: 30%;
}

.cabin-info__text{
    width: 50%;
    text-align: center;
    line-height: 3rem;
}

/* #endregion CABINS */


/* #region BOOKING */
.navbar--booking{
    font-size: 3.125rem;
    text-decoration: underline;
}

.booking-fill{
    background-color: rgba(37, 37, 37, 0.429);
    grid-area: 1/1/8/-1;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.booking-fill h2{
    font-size: 3rem;
    align-self: flex-end;
    transform: translateY(1.25rem);
    
}

.booking--background {
    background-image: url(../assets/bedview.jpg);

}

.booking-search{
    background-color: rgba(39, 39, 39, 0.7);
    grid-area: 8/1/-1/-1;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.booking-search__form{
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 5%;
    
}

.booking-search__box{
    width: 80%;
    
}

.booking-search-resault{
    /* background-color: rgb(193, 250, 231); */
    width: 100%;
    height: 80%;
    display: flex;
    
}

.booking-search-resault__card{
    /* background-color: rgb(208, 176, 238); */
    padding: 0.725rem;
    
    
}

.booking-search-resault__image{
   width: 100%;
   box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
 
}

.resault-card__text{
    text-align: center;
}
/* #endregion BOOKING */


/* #region MEDIA QUERY */
@media only screen and (max-width: 600px){

    li{
        margin: 2px 0;
    }
.main-nav{
    background-color: rgba(95, 95, 95, 0.678);
    grid-area: 1/1/2/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
    .main-nav__logo {
        width: 15%;
        height: 4rem;
    }
     
    .main-nav--text {
        writing-mode: horizontal-tb;
        font-size: 44px;
        transform: translateY(0.4375rem);
    }

    .main--background {
        background-image: url(../assets/landingbackground.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main-section {
        grid-area: 3/1/-1/-1;
        /* background-color: rgb(48, 48, 47); */
        margin-top: 20px;

    }

    .main-section-logo-container{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-section__logo{
        width: 50%;
        height: 50%;
        transform: translateY(0);
        
    }
    
    .main-section-logo--text{
        transform: translate(0);
        font-size: 24px;
    
    }

    .main-section-main-container{
        width: 100%;
        height: 70%;
        display: flex;
        gap: 0.5rem;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        overflow: auto;
       
    }

    .main--section{
        background-color: rgba(49, 49, 49, 0.829);
    }
    
    .main-section__card{
        background-color: rgba(105, 105, 105, 0.6);
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    
    }
    
    .main-section-card-image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 12.5rem;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
        transform: translateY(0);
    
    }
    .main-section-card__text{

        transform: translateY(0);
        text-align: center;
        padding: 1px;
    }

}

/* #endregion MEDIA QUERY */