*{ 
    margin: 0;
    padding: 0; 
    box-sizing:border-box; 
}

body{
    width: 960px;
    height: 720px;
}

.main__main{
    width: 100%;
    height: 100%;
}

.main--background{
    background-image: url();
}